a {
    color: #f49600;
}

.accent-color {
    color: #f49600;
}

.accent-color-bg {
    background-color: #f49600;
}

.top-bar a:hover {
    color: #f49600;
}

.section-overlay {
    background-color: #f49600;
}

.top-bar.color-bar {
    background-color: #f49600;
}

.service-box .read-more {
    color: #f49600;
}

a.main-button, input[type="submit"] {
    background-color: #f49600;
}

.navbar-default .navbar-nav > li:hover > a,
.navbar-default .navbar-nav > li > a.active {
    color: #f49600;
}

.dropdown > li:hover > a, .sup-dropdown li:hover > a {
    color: #f49600;
}

.navbar-default .navbar-nav > li > a:after {
    background-color: #f49600;
}

.navbar-default .navbar-nav > li > a.active, .navbar-default .navbar-nav > li:hover > a {
    border-color: #f49600;
}

.dropdown  li a.active, .sup-dropdown li a.active {
    color: #f49600;
}

ul.breadcrumbs li a:hover {
    color: #f49600;
}

.full-width-recent-projects .portfolio-item:hover .portfolio-thumb .thumb-overlay {
    background-color: #f49600;
}

.tp-caption.color-bg {
    background-color: #f49600;
}

.team-member .member-socail a.mail:hover i {
    background-color: #f49600;
}

.post-share a.mail:hover {
    background-color: #f49600;
}

.progress .progress-bar.progress-bar-primary {
    background-color: #f49600;
}

.latest-posts-classic .left-meta-post .post-type i {
    background-color: #f49600;
}

.latest-posts-classic .post-title a:hover {
    color: #f49600;
}

.latest-posts-classic .read-more {
    color: #f49600;
}

.panel-title a {
    color: #f49600;
}

.panel-title a:hover {
    color: #f49600;
}

.milestone-block .milestone-icon {
    background-color: #f49600;
}

.milestone-block .milestone-icon:after {
    background-color: #f49600;
}

.milestone-block .milestone-number {
    color: #f49600;
}

.pricing-tables .pricing-table.highlight-plan .plan-name h3 {
    //color: #f49600;
}

.pricing-tables .pricing-table.highlight-plan .plan-signup {
    background-color: #f49600;
}

.pricing-tables .pricing-table.highlight-plan .plan-name {
    background-color: #f49600;
}

.btn-system {
    background-color: #f49600;
}

.btn-system.border-btn {
    border-color: #f49600;
    color: #f49600;
}

.btn-system.border-btn:hover {
    background-color: #f49600;
}

.btn-system.border-btn.btn-wite:hover {
    color: #f49600;
}

.btn-system.btn-wite{
    color: #f49600;
}

ul.icons-list li i {
    color: #f49600;
}

.nav-tabs > li > a:hover, .nav-tabs > li > a:focus {
    background-color: #f49600;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover {
    color: #f49600;
}

.icon-small {
    text-shadow: 0 0 0 #f49600;
}

.icon-small:hover, .service-box:hover .icon-small {
    color: #f49600;
}
.icon-medium {
    text-shadow: 0 0 0 #f49600;
}

.icon-medium:hover, .service-box:hover .icon-medium {
    color: #f49600;
}

.icon-large {
    text-shadow: 0 0 0 #f49600;
}

.icon-large:hover, .service-box:hover .icon-large {
    color: #f49600;
}

.icon-effect-1 {
    box-shadow: 0 0 0 3px #f49600;
    -o-box-shadow: 0 0 0 3px #f49600;
    -moz-box-shadow: 0 0 0 3px #f49600;
    -webkit-box-shadow: 0 0 0 3px #f49600;
}

.icon-effect-1:after {
    background-color: #f49600;
}

.icon-effect-1:hover, .service-box:hover .icon-effect-1 {
    color: #f49600;
}

.icon-effect-2 {
    color: #f49600;
    box-shadow: 0 0 0 3px #f49600;
    -o-box-shadow: 0 0 0 3px #f49600;
    -moz-box-shadow: 0 0 0 3px #f49600;
    -webkit-box-shadow: 0 0 0 3px #f49600;
}

.icon-effect-2:after {
    background-color: #f49600;
}

.icon-effect-3 {
    color: #f49600;
    box-shadow: 0 0 0 3px #f49600;
    -o-box-shadow: 0 0 0 3px #f49600;
    -moz-box-shadow: 0 0 0 3px #f49600;
    -webkit-box-shadow: 0 0 0 3px #f49600;
}

.icon-effect-4 {
    color: #f49600;
    box-shadow: 0 0 0 3px #f49600;
    -o-box-shadow: 0 0 0 3px #f49600;
    -moz-box-shadow: 0 0 0 3px #f49600;
    -webkit-box-shadow: 0 0 0 3px #f49600;
}

.icon-effect-5 {
    color: #f49600;
    box-shadow: 0 0 0 3px #f49600;
    -o-box-shadow: 0 0 0 3px #f49600;
    -moz-box-shadow: 0 0 0 3px #f49600;
    -webkit-box-shadow: 0 0 0 3px #f49600;
}

.icon-effect-6 {
    color: #f49600;
    box-shadow: 0 0 0 3px #f49600;
    -o-box-shadow: 0 0 0 3px #f49600;
    -moz-box-shadow: 0 0 0 3px #f49600;
    -webkit-box-shadow: 0 0 0 3px #f49600;
}

.team-member .member-photo .member-name span {
    background-color: #f49600;
}

.classic-title span {
    border-bottom-color: #f49600;
}

.portfolio-filter li a:hover {
    color: #f49600;
}

.portfolio-filter li a.selected {
    border-color: #f49600;
    background-color: #f49600;
}

.portfolio-item:hover .portfolio-details h4 {
    color: #f49600;
}

.project-content h4 span {
    border-bottom-color: #f49600;
}

.recent-projects h4.title span {
    border-bottom-color: #f49600;
}

ul.post-meta li a:hover {
    color: #f49600;
}

#pagination span.current {
    border-color: #f49600;
    background-color: #f49600;
}

#pagination a:hover {
    color: #f49600;
}

.post-tags-list a:hover {
    background-color: #f49600;
}

.post-share a.mail {
    background-color: #f49600;
}

.sidebar a:hover {
    color: #f49600;
}

.widget-search .search-btn {
    background-color: #f49600;
}

.sidebar .tagcloud a:hover {
    background-color: #f49600;
}

.back-to-top:hover i {
    background-color: #f49600;
}

.touch-slider .owl-controls.clickable .owl-buttons div:hover {
    background-color: #f49600;
}

.touch-carousel .owl-controls.clickable .owl-buttons div:hover {
    background-color: #f49600;
}

.testimonials-carousel .owl-controls.clickable .owl-buttons div {
    background-color: #f49600;
}

.testimonials-carousel .owl-controls.clickable .owl-buttons div:hover i {
    color: #f49600;
}



#portfolio-list li .portfolio-item-content {
    background: rgba(244, 150, 0, 0.9);
}

.services-3-icon i {
    background-color: #f49600;
}

.services-2-icon i {
    background-color: #f49600;
}

#main-slide .animated2 strong {
    color: #f49600;
}
#main-slide .animated4 strong {
    color: #f49600;
}
#main-slide .animated7 strong {
    color: #f49600;
}

#main-slide .carousel-control i:hover{
    background-color: #f49600;
}
.slider.btn {
    background-color: #f49600;
}

#main-slide .carousel-indicators .active {
    background-color: #f49600;
}


.counter-item i {
    color: #f49600;
}

.timer {
    color: #f49600;
}

.progress-bar {
    background-color: #f49600;
}

.team-member.modern .member-photo:after {
    background-color: #f49600;
}


.twitter-widget a {
    color: #f49600;
}

.dot1, .dot2 {
    background-color: #f49600;
}